* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #E8F3FC;
    background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
    height: 100%;
    padding-left: max(20vw, 5%);
    padding-right: max(20vw, 5%);
}

main {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 5px 10px 8px #9d9d9d, -5px 10px 8px #9d9d9d;
    margin: 0%;
}

h1 {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: max(3vw, 24px) ;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #195C8E;
    color: white;
}


h1:nth-of-type(2) {
    margin-top: 10%;
    margin-bottom: 10%;
}

.incomeInput {
    margin-top: 10%;
    width: 100%;
}

.incomeInput th {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: max(1.5vw, 12px);
    margin-bottom: 20px;
}

.incomeInput td {
    height: max(3vw, 25px);
    width: 40%;
}

.incomeInput td:first-of-type {
    width: 20%;
}

.incomeInput input{
    width: 100%;
    height: 100%;
    font-size: max(1.2vw, 12px) ;
    text-align: center;
    background-color: rgb(147, 147, 147, 0);
    border: 1px solid #797979;
   
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}

.addInput {
   width: 20%; 
   height: 75px;
}

.moneyTotal {
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: max(1.5vw, 12px);
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    width: 60%;
    height: 75px;
    margin-left: 40%;
    margin-top: 3%;
}

.moneyTotal input {
    height: 75%;
    width: 30%;
    background-color: rgb(121, 121, 121, 0);
    border: 1px solid #797979;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.moneyTotal p {
    margin-left: 20%;
    background-color: #d1d1d1;
    padding: 2%;
}

.incomePay {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.incomePay input {
    height: 50px;
    background-color: rgb(147, 147, 147, 0);
    border: 1px solid #797979;
    text-align: center;
    height: max(3vw, 25px);
}

.incomePay p, .incomePay input {
    width: 30%;
    margin: 0px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: max(1.5vw, 12px);
    margin: 2%;

}

.fix {
    display: flex;
    width: 60%;
    border: 1px solid #797979;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: max(3vw, 25px);
}

.calculateBtn {
    width: max(30%, 37%);
    margin: 5% 0% 0% 35%;
    margin-left: max(28%, 35%);
    height: max(3vw, 25px);
    background-color: rgb(1, 1, 1, 0);
    border: 1px solid #797979;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: max(1.5vw, 12px);
}

.calculateBtn:hover {
    animation: fadeBtn 0.5s;
    background-color: #797979;
    color: white;
}

@keyframes fadeBtn {
    0% {background-color: rgb(1, 1, 1, 0);}
    100% {background-color: #797979;}
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 15%;
    margin-top: 5%;
    border-bottom: 1px solid #797979;
}

.row p {
    width: 50%;
    height: 100%;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 1.5rem;
    text-align: center;
    font-size: max(1.5vw, 12px);
}

.row p:nth-of-type(2) {
    /* border: 1px solid #797979; */
    text-decoration: underline;
}

.reductions {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 100%;
    height: 10%;
}

.reductions div {
    width: 45%;
    margin: 0% 2% 0% 2%;
    height: 100%;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 1.5rem;
    text-align: center;
    font-size: max(1.5vw, 12px);
    background-color: #d1d1d1;
}

.reductions p {
    padding: 1%;
}

#I-LOVE-MINUS-SIGN {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 1.5rem;
}

.finalResult {
    height: 10%;
    width: 45%;
    margin: 2% 2% 2% 53%;
    text-align: center;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: max(1.5vw, 12px);
    background-color: #d1d1d1;
}

.finalResult p {
    padding: 1%;
}

footer {
    position: relative;
    height: 7vw;
    width: 100%;
    margin: 0%;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}